/* --------Base Styles--------- */

* {box-sizing: border-box;
}

html {font-size: .9em; 
    font-family: 'Merriweather', serif;
}

body {
    margin: 0 auto;
}

h1 {
    font-size: 1.3em;
    background-color: #2d3945;
    color: white;
}

h2 {
    font-size: 1.25em;
    margin: 0;
}

p {
    color: #959696;
}
/* ---------------------------- */


/* --------Main Header--------- */
.main-header{
    text-align: center;
} 

.main-header h1 {
    padding: 25px 0;
    margin-top: 0;
    margin-bottom: 25px;
}

.cta {
    padding: 0 15px;
}

.cta p {
    color: #cbcbcb;
    border-bottom: 4px solid #2d3945;
    padding-bottom: 35px;
    margin-bottom: 2px;
}

hr {
    margin: 0 15px;
    border-bottom: 2px solid #2d3945;
}


/* ---------------------------- */


/* -------Form Styles--------- */

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
}

fieldset {
    margin: 0 4px;
}

legend {
    font-weight: 600;
    font-size: 1.25em;    
}

ul li {
    list-style-type: none; 

}

.form1 ul li {
   margin: 10px 0;
}

.form1 li {
    display: flex;
    flex-direction: column;
}
.form1 li label {
    margin: 10px 0;
}

input, label, select {
    color: #959696;
}

select:invalid {
    color: #b6b6b6;
}

input, select, textarea {
    border: none;
    background-color:#eeeeee;
    border-radius: 5px;
    padding: 15px 0;
}

input[type="text"],
input[type="email"],
textarea {
    padding-left: 20px;
    border: 2px solid #eeeeee; /* prevents focus border from moving labels*/
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    border: 2px solid #607891;
    border-radius: 5px;
}

input::placeholder {
    text-align: right;
    padding-right: 25px;
    font-style: italic;
    font-size: .8em;
    color: #b6b6b6;
}

input[id=zip] {
    width: 50%;

  }

hr:nth-child(2) {
    margin-bottom: 25px;
}

.form2 {
    display: flex;
    flex-direction: column;
}

.form2 ul {
    margin-top: 0;
}

.form2 ul li {
    margin: 20px 0;
}

.form2 ul p:nth-of-type(2) {
    padding: 10px 0 0 0;
}

textarea,
button{
    width: 100%; 
}

button[type="submit"] {
    font-family: 'Merriweather', serif;
    font-size: 1.23em;
    background-color: #4ebbb5;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    cursor: pointer; 
    margin-top:20px;
    margin-bottom: 10px;
}

button + p {
    text-align: center;
    margin-bottom:100px;
    color: #bab7b7;
    font-size: .9em;
}
